---

---

@import "minima";

$background-color: #191919;
$light-background: #252525;
$font-color: #00FFFF;
$alternate-color: lightsalmon;



body {
    color: #ddd;
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif !important;
  }

button {
  background-color: $light-background;
  color: $alternate-color;
  border: 3px solid $font-color;
  border-radius: 5px;
  padding: 7px;
}

.site-title, .site-title:visited {
    color: $font-color;
}

a:link, a:visited {
  color: $font-color;
  //font-style: italic;
}

a:hover {
  color: rgb(255, 0, 0);
}

.site-nav {
  background-color: $background-color !important;
  border-color: $font-color;
  border-radius: 0px;
}

.site-header {
  border-bottom: 2px solid #000000;
}

.site-nav .menu-icon > svg {
  fill: $font-color;
}

.highlight {
  background: $light-background !important;
}

pre, code {
  background-color: $light-background;
  border: 1px solid $font-color;
}

span.kd {
  color: #70e205;
}

span.k {
  color: #00c742;
}

span.nx {
  color: #1869ff;
}

.footnotes {
  overflow-wrap: break-word;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-bottom: 2rem;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

figure {
  display: grid;
  width: 100%;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-enclosure {
  background-color: rgba(0,0,0,0);
}

figcaption {
  font-style: italic;
  text-align: right;
}

img {
  display: block;
  margin: auto;
}



/* grid layout */

.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    // grid-template-areas:
    //   "Example-1 Example-2 Example-3 Example-4"
    //   "Example-5 Example-6 Example-7 Example-8"
    //   ". . . .";
  }
  // .Example-1 { grid-area: Example-1; }
  // .Example-2 { grid-area: Example-2; }
  // .Example-3 { grid-area: Example-3; }
  // .Example-4 { grid-area: Example-4; }
  // .Example-5 { grid-area: Example-5; }
  // .Example-6 { grid-area: Example-6; }
  // .Example-7 { grid-area: Example-7; }
  // .Example-8 { grid-area: Example-8; }
  .grid-element {
      padding: 30px;
      background-color: $light-background;
      border: 2px solid $font-color;
      border-radius: 3px;
      text-align: center;
      font-weight: bold;
      color: $font-color;
  }