---

---

@import "minima";

$background-color: #191919;
$font-color: #00FFFF;
$alternate-color: lightsalmon;



body {
    color: #ddd;
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif !important;
  }

.page-link {
    color: $alternate-color!important;
}
.site-title, .site-title:visited {
    color: $font-color;
}

a:link, a:visited {
  color: $font-color;
  //font-style: italic;
}

a:hover {
  color: rgb(255, 0, 0);
}s

.site-nav {
  background-color: $background-color;
  border-color: #000000;
  border-radius: 0px;
}

.site-header {
  border-bottom: 2px solid #000000;
}

.site-nav .menu-icon > svg {
  fill: $font-color;
}

.highlight {
  background: #171717 !important;
}

pre, code {
  background-color: #171717;
  border: 1px solid $font-color;
}

span.kd {
  color: #70e205;
}

span.k {
  color: #00c742;
}

span.nx {
  color: #1869ff;
}

.footnotes {
  overflow-wrap: break-word;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-bottom: 2rem;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

figure {
  display: grid;
  width: 100%;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-enclosure {
  background-color: rgba(0,0,0,0);
}

figcaption {
  font-style: italic;
  text-align: right;
}



/* grid layout */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "Example-1 Example-2 Example-3 Example-4"
      "Example-5 Example-6 Example-7 Example-8"
      ". . . .";
  }
  .Example-1 { grid-area: Example-1; }
  .Example-2 { grid-area: Example-2; }
  .Example-3 { grid-area: Example-3; }
  .Example-4 { grid-area: Example-4; }
  .Example-5 { grid-area: Example-5; }
  .Example-6 { grid-area: Example-6; }
  .Example-7 { grid-area: Example-7; }
  .Example-8 { grid-area: Example-8; }
  .grid-element {
      padding: 30px;
      background-color: rgba(255,255,255,0.3);
      text-align: center;
      font-weight: bold;
      color: $font-color
  }